    /*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT     
========================================================  */

    /*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
  }

  .db-bk-color-two {
    background-color: #46a6f7;
  }

  .db-bk-color-three {
    background-color: #47887e;
  }

  .db-bk-color-six {
    background-color: #f59b24;
  }
  /*============================================================
PRICING STYLES
==========================================================*/
  .db-padding-btm {
    padding-bottom: 50px;
  }


  .db-pricing-eleven {
    /* margin-bottom: 30px;
    margin-top: 50px; */
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 30px;
  }

  .db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
  }

  .db-pricing-eleven ul li {
    padding-top: 10px;
    cursor: pointer;
  }

  .db-pricing-eleven ul li i {
    margin-right: 5px;
  }



  .db-pricing-eleven .price small {
    color: #b8b8b8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
  }

  .db-pricing-eleven .type {
    background-color: #b5c18e;
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
  }

  .db-pricing-eleven .pricing-footer {
    padding: 20px;
  }

  .db-attached > .col-lg-4,
  .db-attached > .col-lg-3,
  .db-attached > .col-md-4,
  .db-attached > .col-md-3,
  .db-attached > .col-sm-4,
  .db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .db-pricing-eleven.popular {
    margin-top: 10px;
  }

  .db-pricing-eleven.popular .price {
    padding-top: 80px;
  }

  /* pricing */
  .pack-name {
    font-size: 37px;
    color: #2f2f2f;
  }

  .pack-price {
    font-size: 20px;
  }

  .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    /* Adjust the bottom position as needed */
    right: 20px;
    /* Adjust the right position as needed */
    z-index: 1000;
    /* Make sure the icon appears above other elements */
  }

  .whatsapp-icon img {
    width: 50px;
    /* Adjust the width of the icon as needed */
    height: auto;
    /* Maintain the aspect ratio of the icon */
  }

  .db-wrapper {
    padding: 10px;
  }
  .price-small{
    font-size: 20px;
    color: #6B8A7A;
    margin-top: 10px;
  }
  .db-pricing-eleven{
    background-color: #d9d9d9;
  }

  .ul-price{
    color: #2f2f2f;
    
  }


  .db-pricing-eleven .price {
    background-color: #ffe582;
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
  }

  .db-button-color-square {
    color: #2f2f2f;
    background-color: #ffe582;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }

  .db-button-color-square:hover {
    color: #2f2f2f;
    background-color: #f1d562;
    border: none;
  }
